### DEPENDENCIES

In [1]:
import pandas as pd
import requests
import json
import csv
import os
from sqlalchemy import create_engine
import config

### Extract CSVs into DataFrames

In [2]:
#https://www.kaggle.com/abecklas/fifa-world-cup/version/5#WorldCups.csv
#All the countries that have hosted the world cup from the first one until 2014
#world = "\\Users\dharti.patel\Documents\Repositories\ETL-project\Resources\WorldCups.csv"
world = "Resources/WorldCups.csv"
world_df = pd.read_csv(world)
world_df

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607
5,1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819.810
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893.172
7,1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1.563.135
8,1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1.603.975
9,1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1.865.753
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1.545.791
11,1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2.109.723
12,1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,2.394.031
13,1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,2.516.215
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3.587.538
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2.785.100
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2.705.197
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3.359.439
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3.178.856
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3.386.810

In [3]:
#https://www.kaggle.com/stefanoleone992/fifa-20-complete-player-dataset#players_20.csv 
#"Every player available in FIFA 15, 16, 17, 18, 19, and also FIFA 20"
players = "Resources/players_20.csv"
players_df = pd.read_csv(players)
players_df

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,6/24/1987,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,2/5/1985,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,2/5/1992,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1/7/1993,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1/7/1991,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18273,245006,https://sofifa.com/player/245006/shuai-shao/20...,Shao Shuai,邵帅,22,3/10/1997,186,79,China PR,Beijing Renhe FC,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
18274,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Xiao Mingjie,Mingjie Xiao,22,1/1/1997,177,66,China PR,Shanghai SIPG FC,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
18275,252332,https://sofifa.com/player/252332/wei-zhang/20/...,Zhang Wei,张威,19,5/16/2000,186,75,China PR,Hebei China Fortune FC,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18276,251110,https://sofifa.com/player/251110/haijian-wang/...,Wang Haijian,汪海健,18,8/2/2000,185,74,China PR,Shanghai Greenland Shenhua FC,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
18277,233449,https://sofifa.com/player/233449/ximing-pan/20...,Pan Ximing,潘喜明,26,1/11/1993,182,78,China PR,Hebei China Fortune FC,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [4]:
url = pd.read_html("https://en.wikipedia.org/wiki/FIFA_Club_World_Cup")
url

[                          0                          1
 0                       NaN                        NaN
 1                   Founded         2000; 20 years ago
 2                    Region       International (FIFA)
 3           Number of teams  7 (from 6 confederations)
 4         Current champions       Liverpool(1st title)
 5   Most successful club(s)      Real Madrid(4 titles)
 6   Television broadcasters       List of broadcasters
 7                   Website           Official website
 8  2020 FIFA Club World Cup   2020 FIFA Club World Cup,
    0                                                  1  2
 0  “  The CSF is the entity in charge of controlling...  ”,
     0                                     1  \
 0 NaN       Match was won during extra time
 1 NaN  Match was won on a penalty shoot-out

                                       2                                     3
 0       Match was won during extra time       Match was won during extra time
 1  Match was won on a penalty shoot-out  Match was won on a penalty shoot-out  ,
     Edition  Season    Hosts             Champions                 Score  \
 0       1.0    2000   Brazil      Corinthians[n 2]                   0–0
 1       NaN    2001    Spain  Tournament cancelled  Tournament cancelled
 2       2.0    2005    Japan             São Paulo                   1–0
 3       3.0    2006    Japan         Internacional                   1–0
 4       4.0    2007    Japan                 Milan                   4–2
 5       5.0    2008    Japan     Manchester United                   1–0
 6       6.0    2009      UAE        Barcelona[n 5]                   2–1
 7       7.0    2010      UAE        Internazionale                   3–0
 8       8.0    2011    Japan             Barcelona                   4–0
 9       9.0    2012    Japan           Corinthians                   1–0
 10     10.0    2013  Morocco         Bayern Munich                   2–0
 11     11.0    2014  Morocco           Real Madrid                   2–0
 12     12.0    2015    Japan             Barcelona                   3–0
 13     13.0    2016    Japan      Real Madrid[n 9]                   4–2
 14     14.0    2017      UAE           Real Madrid                   1–0
 15     15.0    2018      UAE           Real Madrid                   4–1
 16     16.0    2019    Qatar       Liverpool[n 11]                   1–0
 17     17.0    2020    Qatar                   NaN                   NaN
 18     18.0    2021    China                   NaN                   NaN

               Runners-up              Third place               Score.1  \
 0          Vasco da Gama              Necaxa[n 3]                   1–1
 1   Tournament cancelled     Tournament cancelled  Tournament cancelled
 2              Liverpool                 Saprissa                   3–2
 3              Barcelona                  Al Ahly                   2–1
 4           Boca Juniors  Urawa Red Diamonds[n 4]                   2–2
 5              LDU Quito              Gamba Osaka                   1–0
 6            Estudiantes     Pohang Steelers[n 6]                   1–1
 7             TP Mazembe            Internacional                   4–2
 8                 Santos             Al Sadd[n 7]                   0–0
 9                Chelsea                Monterrey                   2–0
 10       Raja Casablanca         Atlético Mineiro                   3–2
 11           San Lorenzo       Auckland City[n 8]                   1–1
 12           River Plate      Sanfrecce Hiroshima                   2–1
 13       Kashima Antlers  Atlético Nacional[n 10]                   2–2
 14                Grêmio                  Pachuca                   4–1
 15                Al-Ain              River Plate                   4–0
 16              Flamengo          Monterrey[n 12]                   2–2
 17                   NaN                      NaN                   NaN
 18                   NaN                      NaN                   NaN

              Fourth place         Ref
 0             Real Madrid  [138][139]
 1    Tournament cancelled       [140]
 2              Al-Ittihad  [141][142]
 3                 América  [143][144]
 4         Étoile du Sahel  [146][147]
 5                 Pachuca  [148][149]
 6                 Atlante  [152][153]
 7   Seongnam Ilhwa Chunma  [154][155]
 8          Kashiwa Reysol  [157][158]
 9                 Al Ahly  [159][160]
 10   Guangzhou Evergrande  [161][162]
 11              Cruz Azul  [164][165]
 12   Guangzhou Evergrande  [166][167]
 13                América  [170][171]
 14              Al-Jazira       [172]
 15        Kashima Antlers       [173]
 16               Al-Hilal       [129]
 17                    NaN       [129]
 18                    NaN       [136]  ,
     Country               Club Titles Runners-up               Years won  \
 0       NaN        Real Madrid      4          —  2014, 2016, 2017, 2018
 1       NaN          Barcelona      3          1        2009, 2011, 2015
 2       NaN        Corinthians      2          —              2000, 2012
 3       NaN          Liverpool      1          1                    2019
 4       NaN          São Paulo      1          —                    2005
 5       NaN      Internacional      1          —                    2006
 6       NaN              Milan      1          —                    2007
 7       NaN  Manchester United      1          —                    2008
 8       NaN     Internazionale      1          —                    2010
 9       NaN      Bayern Munich      1          —                    2013
 10      NaN      Vasco da Gama      —          1                       —
 11      NaN       Boca Juniors      —          1                       —
 12      NaN          LDU Quito      —          1                       —
 13      NaN        Estudiantes      —          1                       —
 14      NaN         TP Mazembe      —          1                       —
 15      NaN             Santos      —          1                       —
 16      NaN            Chelsea      —          1                       —
 17      NaN    Raja Casablanca      —          1                       —
 18      NaN        San Lorenzo      —          1                       —
 19      NaN        River Plate      —          1                       —
 20      NaN    Kashima Antlers      —          1                       —
 21      NaN             Grêmio      —          1                       —
 22      NaN             Al-Ain      —          1                       —
 23      NaN           Flamengo      —          1                       —

    Years runners-up
 0                 —
 1              2006
 2                 —
 3              2005
 4                 —
 5                 —
 6                 —
 7                 —
 8                 —
 9                 —
 10             2000
 11             2007
 12             2008
 13             2009
 14             2010
 15             2011
 16             2012
 17             2013
 18             2014
 19             2015
 20             2016
 21             2017
 22             2018
 23             2019  ,
   Confederation Titles  Runners-up
 0          UEFA     12           3
 1      CONMEBOL      4           9
 2           AFC      —           2
 3           CAF      —           2
 4         Total     16          16,
                                       Play-off round
 0  Winners of the OFC Champions League Host natio...
 1                                Quarter-final round
 2  Winners of the AFC Champions League Winners of...
 3                                   Semi-final round
 4  Winners of the Copa Libertadores Winners of th...
 5                                              Final
 6                Two winners of the semi-final round,
                0             1
 0         Winner   $10 million
 1      Runner-up    $4 million
 2    Third place  $2.5 million
 3   Fourth place    $2 million
 4    Fifth place  $1.5 million
 5    Sixth place    $1 million
 6  Seventh place  $0.5 million,
                           vteFIFA Club World Cup  \
 0  Predecessor: Intercontinental Cup (1960–2004)
 1                                       Editions
 2                                         Finals
 3                                         Squads
 4                                  Qualification
 5                                     Statistics
 6                   Category  Portal  Multimedia

                             vteFIFA Club World Cup.1
 0      Predecessor: Intercontinental Cup (1960–2004)
 1  Brazil 2000 Spain 2001 Japan 2005 Japan 2006 J...
 2  2000 2001 2005 2006 2007 2008 2009 2010 2011 2...
 3  2000 2001 2005 2006 2007 2008 2009 2010 2011 2...
 4                 AFC CAF CONCACAF CONMEBOL OFC UEFA
 5  Awards Finals Goalscorers Historical table Par...
 6                       Category  Portal  Multimedia  ,
                                               vteFIFA  \
 0   History of FIFA FIFA Anthem FIFA Congress FIFA...
 1                                      Football codes
 2                                      Confederations
 3                                   Men's tournaments
 4                                 Women's tournaments
 5                                   Other tournaments
 6                                          Presidents
 7                                 Secretaries General
 8                                              Awards
 9                                            Rankings
 10                                         Congresses
 11                                         Corruption
 12                                             Others

                                             vteFIFA.1
 0   History of FIFA FIFA Anthem FIFA Congress FIFA...
 1            Association football Beach soccer Futsal
 2                  AFC CAF CONCACAF CONMEBOL OFC UEFA
 3   FIFA World Cup FIFA U-20 World Cup FIFA U-17 W...
 4   FIFA Women's World Cup FIFA U-20 Women's World...
 5                                     FIFA eWorld Cup
 6   Robert Guérin (1904–1906) Daniel Burley Woolfa...
 7   Louis Muhlinghaus (1904–1906) Wilhelm Hirschma...
 8   FIFA 100 FIFA Ballon d'Or FIFA Champions Badge...
 9   FIFA World Rankings (Former systems: 1999–2006...
 10  51st (Paris 1998) 53rd (Seoul 2002) 61st (Züri...
 11  "FIFA's Dirty Secrets" Garcia Report 2015 FIFA...
 12  FIFA (video game series) FIFA Confederations C...  ,
                 vteInternational men's club football  \
 0  FIFA FIFA Club World Cup World Leagues Forum L...
 1                                             Africa
 2                                               Asia
 3                                             Europe
 4             North,Central Americaand the Caribbean
 5                                            Oceania
 6                                      South America
 7      See also: International women's club football

               vteInternational men's club football.1  \
 0  FIFA FIFA Club World Cup World Leagues Forum L...
 1  CAF – Champions League Confederation Cup Super...
 2  AFC – Champions League AFC Cup Top-division clubs
 3  UEFA – Champions League Europa League Super Cu...
 4  CONCACAF – Champions League CONCACAF League To...
 5          OFC – Champions League Top-division clubs
 6  CONMEBOL – Copa Libertadores Copa Sudamericana...
 7      See also: International women's club football

               vteInternational men's club football.2
 0  FIFA FIFA Club World Cup World Leagues Forum L...
 1                                                NaN
 2                                                NaN
 3                                                NaN
 4                                                NaN
 5                                                NaN
 6                                                NaN
 7      See also: International women's club football  ,
          vteWorld association football championships  \
 0  Football at the Summer Olympics Football at th...
 1                                                Men
 2                                           National
 3                                               Club
 4                                              Women
 5                                           National
 6                                               Club
 7                                           Variants

        vteWorld association football championships.1  \
 0  Football at the Summer Olympics Football at th...
 1  National FIFA World Cup FIFA Confederations Cu...
 2  FIFA World Cup FIFA Confederations Cup (defunc...
 3         FIFA Club World Cup (Intercontinental Cup)
 4  National FIFA Women's World Cup FIFA U-20 Wome...
 5  FIFA Women's World Cup FIFA U-20 Women's World...
 6  FIFA Women's Club World Cup (International Wom...
 7  FIFA Futsal World Cup FIFA Beach Soccer World ...

        vteWorld association football championships.2
 0  Football at the Summer Olympics Football at th...
 1                                                NaN
 2                                                NaN
 3                                                NaN
 4                                                NaN
 5                                                NaN
 6                                                NaN
 7                                                NaN  ,
           0                                                  1
 0  National  FIFA World Cup FIFA Confederations Cup (defunc...
 1      Club         FIFA Club World Cup (Intercontinental Cup),
           0                                                  1
 0  National  FIFA Women's World Cup FIFA U-20 Women's World...
 1      Club  FIFA Women's Club World Cup (International Wom...,
   vteWorld championships between clubs  \
 0                              Current
 1                               Former
 2                             Proposed

               vteWorld championships between clubs.1
 0  Association football men Bandy men women Baske...
 1  T20 cricket men 2005 men 2009–14 Association f...
 2                         Association football women  ,
                 vteWorld championships  \
 0   List of world sports championships
 1                       Olympic sports
 2                                 Team
 3                           Individual
 4                         Discontinued
 5                    Paralympic sports
 6                                 Team
 7                           Individual
 8                        Combat sports
 9                           Cue sports
 10                         Mind sports
 11                          Motorsport
 12                         Auto racing
 13                   Motorcycle sports
 14                               Other
 15                        Other sports
 16                                Team
 17                          Individual
 18                             Esports
 19       See also: {{Main world cups}}

                              vteWorld championships.1
 0                  List of world sports championships
 1   Team Association football men men's club women...
 2   Association football men men's club women wome...
 3   Archery Aquatic sports Athletics outdoor race ...
 4   Basque pelota Cricket Test ODI (men) ODI (wome...
 5   Team Amputee football Blind football CP footba...
 6   Amputee football Blind football CP football Pa...
 7   Archery Athletics Badminton Bobsleigh and skel...
 8   Grappling Kendo Kickboxing Muaythai Sambo Sumo...
 9   Carom billiards Three-cushion individual team ...
 10  Backgammon Bridge Chess open women team Draugh...
 11  Auto racing Formula One Karting Rallying Rally...
 12  Formula One Karting Rallying Rallycross Rally ...
 13  Endurance Enduro SuperEnduro Ice racing indivi...
 14  Aeroplane sport Aerobatic Aerobatic GP Powerbo...
 15  Team Adventure racing American football men wo...
 16  Adventure racing American football men women A...
 17  Air sports Ballooning Gliding Parachuting Para...
 18  League of Legends Dota 2 Counter-Strike StarCr...
 19                      See also: {{Main world cups}}  ,
               0                                                  1
 0          Team  Association football men men's club women wome...
 1    Individual  Archery Aquatic sports Athletics outdoor race ...
 2  Discontinued  Basque pelota Cricket Test ODI (men) ODI (wome...,
             0                                                  1
 0        Team  Amputee football Blind football CP football Pa...
 1  Individual  Archery Athletics Badminton Bobsleigh and skel...,
                    0                                                  1
 0        Auto racing  Formula One Karting Rallying Rallycross Rally ...
 1  Motorcycle sports  Endurance Enduro SuperEnduro Ice racing indivi...
 2              Other  Aeroplane sport Aerobatic Aerobatic GP Powerbo...,
             0                                                  1
 0        Team  Adventure racing American football men women A...
 1  Individual  Air sports Ballooning Gliding Parachuting Para...
 2     Esports  League of Legends Dota 2 Counter-Strike StarCr...,
                       vteFIFA Club World Cup winners  \
 0  2000: Corinthians 2005: São Paulo 2006: Intern...

                     vteFIFA Club World Cup winners.1
 0  2000: Corinthians 2005: São Paulo 2006: Intern...  ,
              vteFIFA Club World Cup winning managers  \
 0  2000: Oliveira 2005: Autuori 2006: Braga 2007:...

            vteFIFA Club World Cup winning managers.1
 0  2000: Oliveira 2005: Autuori 2006: Braga 2007:...  ,
                   vteFIFA Club World Cup Golden Ball  \
 0  2000: Edílson 2005: Rogério Ceni 2006: Deco 20...

                 vteFIFA Club World Cup Golden Ball.1
 0  2000: Edílson 2005: Rogério Ceni 2006: Deco 20...  ]

### Transform World Cup DataFrame

In [5]:
world_df[['Year','Country']]

    Year       Country
0   1930       Uruguay
1   1934         Italy
2   1938        France
3   1950        Brazil
4   1954   Switzerland
5   1958        Sweden
6   1962         Chile
7   1966       England
8   1970        Mexico
9   1974       Germany
10  1978     Argentina
11  1982         Spain
12  1986        Mexico
13  1990         Italy
14  1994           USA
15  1998        France
16  2002   Korea/Japan
17  2006       Germany
18  2010  South Africa
19  2014        Brazil

In [6]:
#Duplicating year 2002 when two countries hosted the World Cup
dup = world_df['Country'] == 'Korea/Japan'
dup_try = world_df[dup]
world_df_dup=world_df.append([dup_try]*1,ignore_index=True)
world_df_dup

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607
5,1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819.810
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893.172
7,1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1.563.135
8,1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1.603.975
9,1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1.865.753
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1.545.791
11,1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2.109.723
12,1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,2.394.031
13,1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,2.516.215
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3.587.538
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2.785.100
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2.705.197
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3.359.439
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3.178.856
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3.386.810
20,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2.705.197

In [7]:
#Segregating the year when Korea and Japan hosted the World Cup by renaming each row
world_df_dup.loc[16,'Country'] = 'Korea Republic'
world_df_dup.loc[20,'Country'] = 'Japan'
world_df_dup

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607
5,1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819.810
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893.172
7,1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1.563.135
8,1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1.603.975
9,1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1.865.753
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1.545.791
11,1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2.109.723
12,1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,2.394.031
13,1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,2.516.215
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3.587.538
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2.785.100
16,2002,Korea Republic,Brazil,Germany,Turkey,Korea Republic,161,32,64,2.705.197
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3.359.439
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3.178.856
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3.386.810
20,2002,Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2.705.197

In [8]:
#Checking the Country Names
world_df_dup['Country'].unique()

array(['Uruguay', 'Italy', 'France', 'Brazil', 'Switzerland', 'Sweden',
       'Chile', 'England', 'Mexico', 'Germany', 'Argentina', 'Spain',
       'USA', 'Korea Republic', 'South Africa', 'Japan'], dtype=object)

In [9]:
world_df_dup.columns = map(str.lower, world_df_dup.columns)
world_df_dup = world_df_dup.rename(columns={"runners-up": "runners_up", "goalsscored": "goals_scored", "qualifiedteams" : "qualified_teams","matchesplayed":"matches_played"})
world_df_dup

,year,country,winner,runners_up,third,fourth,goals_scored,qualified_teams,matches_played,attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607
5,1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819.810
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893.172
7,1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1.563.135
8,1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1.603.975
9,1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1.865.753
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1.545.791
11,1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2.109.723
12,1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,2.394.031
13,1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,2.516.215
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3.587.538
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2.785.100
16,2002,Korea Republic,Brazil,Germany,Turkey,Korea Republic,161,32,64,2.705.197
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3.359.439
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3.178.856
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3.386.810
20,2002,Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2.705.197

### Transform Players DataFrame

In [10]:
players_df.loc[players_df['nationality']=='USA',:]

Empty DataFrame
Columns: [sofifa_id, player_url, short_name, long_name, age, dob, height_cm, weight_kg, nationality, club, overall, potential, value_eur, wage_eur, player_positions, preferred_foot, international_reputation, weak_foot, skill_moves, work_rate, body_type, real_face, release_clause_eur, player_tags, team_position, team_jersey_number, loaned_from, joined, contract_valid_until, nation_position, nation_jersey_number, pace, shooting, passing, dribbling, defending, physic, gk_diving, gk_handling, gk_kicking, gk_reflexes, gk_speed, gk_positioning, player_traits, attacking_crossing, attacking_finishing, attacking_heading_accuracy, attacking_short_passing, attacking_volleys, skill_dribbling, skill_curve, skill_fk_accuracy, skill_long_passing, skill_ball_control, movement_acceleration, movement_sprint_speed, movement_agility, movement_reactions, movement_balance, power_shot_power, power_jumping, power_stamina, power_strength, power_long_shots, mentality_aggression, mentality_interceptions, mentality_positioning, mentality_vision, mentality_penalties, mentality_composure, defending_marking, defending_standing_tackle, defending_sliding_tackle, goalkeeping_diving, goalkeeping_handling, goalkeeping_kicking, goalkeeping_positioning, goalkeeping_reflexes, ls, st, rs, lw, lf, cf, rf, rw, lam, cam, ram, lm, lcm, cm, rcm, rm, lwb, ldm, cdm, rdm, rwb, lb, ...]
Index: []

[0 rows x 104 columns]

In [11]:
# players_df[players_df['nationality'] == 'United States'].replace("USA")

In [12]:
players_df.loc[players_df.nationality == 'United States', 'nationality'] = "USA"
players_df['nationality'].unique()

array(['Argentina', 'Portugal', 'Brazil', 'Slovenia', 'Belgium',
       'Germany', 'Netherlands', 'Croatia', 'Egypt', 'France', 'Senegal',
       'England', 'Spain', 'Italy', 'Uruguay', 'Poland', 'Denmark',
       'Gabon', 'Korea Republic', 'Costa Rica', 'Slovakia',
       'Bosnia Herzegovina', 'Serbia', 'Scotland', 'Hungary',
       'Switzerland', 'Greece', 'Austria', 'Morocco', 'Sweden', 'Wales',
       'Colombia', 'Czech Republic', 'Chile', 'Algeria', 'Ivory Coast',
       'Togo', 'Norway', 'Mexico', 'Iceland', 'Finland', 'Jamaica',
       'Albania', 'Guinea', 'Cameroon', 'Ghana', 'Montenegro', 'Ukraine',
       'Russia', 'DR Congo', 'Central African Rep.', 'Venezuela',
       'Nigeria', 'Armenia', 'Israel', 'Ecuador', 'Paraguay', 'Australia',
       'Turkey', 'Romania', 'Japan', 'Mali', 'USA', 'Kosovo',
       'Dominican Republic', 'Tanzania', 'China PR', 'Northern Ireland',
       'Republic of Ireland', 'Tunisia', 'Cape Verde', 'FYR Macedonia',
       'Burkina Faso', 'Kenya', 'Angola', 'South Africa', 'Peru', 'Syria',
       'Gambia', 'New Zealand', 'Equatorial Guinea', 'Zimbabwe',
       'Georgia', 'Canada', 'Estonia', 'Benin', 'Bulgaria', 'Mozambique',
       'Honduras', 'Guinea Bissau', 'Iran', 'Philippines', 'Cyprus',
       'Madagascar', 'Uzbekistan', 'Moldova', 'Cuba', 'Sierra Leone',
       'Curacao', 'Zambia', 'Congo', 'Bolivia', 'Comoros', 'Iraq', 'Chad',
       'Lithuania', 'Saudi Arabia', 'Panama', 'Libya', 'Bahrain',
       'St Kitts Nevis', 'New Caledonia', 'Luxembourg',
       'Trinidad & Tobago', 'Thailand', 'United Arab Emirates', 'Eritrea',
       'Korea DPR', 'El Salvador', 'Azerbaijan', 'Latvia', 'Montserrat',
       'Puerto Rico', 'Bermuda', 'São Tomé & Príncipe',
       'Antigua & Barbuda', 'Burundi', 'Kazakhstan', 'Liberia', 'Guyana',
       'Haiti', 'Jordan', 'Faroe Islands', 'Mauritania', 'Namibia',
       'Rwanda', 'Uganda', 'Hong Kong', 'Chinese Taipei', 'Belize',
       'Palestine', 'Mauritius', 'Guam', 'Suriname', 'Lebanon',
       'Guatemala', 'Sudan', 'Liechtenstein', 'Grenada', 'St Lucia',
       'Afghanistan', 'Ethiopia', 'Barbados', 'India', 'Malta', 'Niger',
       'Vietnam', 'Malawi', 'Gibraltar', 'Macau', 'South Sudan',
       'Indonesia'], dtype=object)

In [13]:
# Selecting only the columns that I want
players_df = players_df[["long_name", "club", "joined","nationality","sofifa_id"]]
players_df

,long_name,club,joined,nationality,sofifa_id
0,Lionel Andrés Messi Cuccittini,FC Barcelona,7/1/2004,Argentina,158023
1,Cristiano Ronaldo dos Santos Aveiro,Juventus,7/10/2018,Portugal,20801
2,Neymar da Silva Santos Junior,Paris Saint-Germain,8/3/2017,Brazil,190871
3,Jan Oblak,Atlético Madrid,7/16/2014,Slovenia,200389
4,Eden Hazard,Real Madrid,7/1/2019,Belgium,183277
...,...,...,...,...,...
18273,邵帅,Beijing Renhe FC,7/13/2018,China PR,245006
18274,Mingjie Xiao,Shanghai SIPG FC,2/1/2019,China PR,250995
18275,张威,Hebei China Fortune FC,1/1/2019,China PR,252332
18276,汪海健,Shanghai Greenland Shenhua FC,2/1/2019,China PR,251110
18277,潘喜明,Hebei China Fortune FC,NaN,China PR,233449

### Transform Clubs DataFrame

In [14]:
clubs_country = url[3]
# clubs_country = pd.DataFrame(clubs_country) # Alap: This is not needed since read_html gives you DataFrame object.
clubs_country = clubs_country[["Season", "Hosts", "Champions"]]
clubs_country = clubs_country.rename(columns={"Season": "season", "Hosts": "host", "Champions" : "club"})
clubs_country

    season     host                  club
0     2000   Brazil      Corinthians[n 2]
1     2001    Spain  Tournament cancelled
2     2005    Japan             São Paulo
3     2006    Japan         Internacional
4     2007    Japan                 Milan
5     2008    Japan     Manchester United
6     2009      UAE        Barcelona[n 5]
7     2010      UAE        Internazionale
8     2011    Japan             Barcelona
9     2012    Japan           Corinthians
10    2013  Morocco         Bayern Munich
11    2014  Morocco           Real Madrid
12    2015    Japan             Barcelona
13    2016    Japan      Real Madrid[n 9]
14    2017      UAE           Real Madrid
15    2018      UAE           Real Madrid
16    2019    Qatar       Liverpool[n 11]
17    2020    Qatar                   NaN
18    2021    China                   NaN

In [15]:
# Creating a Roster of 2018 winning team and when the players join the team

# Merging DataFrames clubs_country and players_df
pyr_ctry_m = pd.merge(clubs_country, players_df, on="club")

# Filtering for 2018
pyr_ctry_m = pyr_ctry_m.loc[pyr_ctry_m["season"] == 2018,:]

# Renaming long_name header to Roster
pyr_ctry_m = pyr_ctry_m.rename(columns={"long_name" : "roster", "joined" : "joined"})
pyr_ctry_m

,season,host,club,roster,joined,nationality,sofifa_id
148,2018,UAE,Real Madrid,Eden Hazard,7/1/2019,Belgium,183277
149,2018,UAE,Real Madrid,Luka Modrić,8/1/2012,Croatia,177003
150,2018,UAE,Real Madrid,Sergio Ramos García,8/1/2005,Spain,155862
151,2018,UAE,Real Madrid,Thibaut Courtois,8/9/2018,Belgium,192119
152,2018,UAE,Real Madrid,Toni Kroos,7/17/2014,Germany,182521
153,2018,UAE,Real Madrid,Carlos Henrique Venancio Casimiro,7/11/2013,Brazil,200145
154,2018,UAE,Real Madrid,Karim Benzema,7/9/2009,France,165153
155,2018,UAE,Real Madrid,Keylor Navas,8/3/2014,Costa Rica,193041
156,2018,UAE,Real Madrid,Francisco Román Alarcón Suárez,7/3/2013,Spain,197781
157,2018,UAE,Real Madrid,Raphaël Varane,7/1/2011,France,201535
158,2018,UAE,Real Madrid,Daniel Carvajal Ramos,7/5/2013,Spain,204963
159,2018,UAE,Real Madrid,Gareth Frank Bale,9/2/2013,Wales,173731
160,2018,UAE,Real Madrid,Marcelo Vieira da Silva Júnior,1/1/2007,Brazil,176676
161,2018,UAE,Real Madrid,James David Rodríguez Rubio,7/22/2014,Colombia,198710
162,2018,UAE,Real Madrid,Luka Jović,7/1/2019,Serbia,232432
163,2018,UAE,Real Madrid,Marco Asensio Willemsen,7/1/2015,Spain,220834
164,2018,UAE,Real Madrid,José Ignacio Fernández Iglesias,8/1/2010,Spain,200724
165,2018,UAE,Real Madrid,Éder Gabriel Militão,7/1/2019,Brazil,240130
166,2018,UAE,Real Madrid,Lucas Vázquez Iglesias,7/2/2015,Spain,208618
167,2018,UAE,Real Madrid,Ferland Mendy,7/1/2019,France,228618
168,2018,UAE,Real Madrid,Álvaro Odriozola Arzalluz,7/5/2018,Spain,234035
169,2018,UAE,Real Madrid,Vinícius José de Oliveira Júnior,7/12/2018,Brazil,238794
170,2018,UAE,Real Madrid,Mariano Díaz Mejía,8/29/2018,Dominican Republic,221639
171,2018,UAE,Real Madrid,Federico Valverde,7/22/2016,Uruguay,239053
172,2018,UAE,Real Madrid,Rodrygo Silva de Goes,7/1/2019,Brazil,243812
173,2018,UAE,Real Madrid,Lucas Silva Borges,1/26/2015,Brazil,209749
174,2018,UAE,Real Madrid,Brahim Díaz,1/6/2019,Spain,231410
175,2018,UAE,Real Madrid,久保 建英,7/1/2019,Japan,237681
176,2018,UAE,Real Madrid,Javier Hernández Carrera,7/1/2015,Spain,244523
177,2018,UAE,Real Madrid,Sergio López Galache,7/1/2018,Spain,245287
178,2018,UAE,Real Madrid,Álvaro Fidalgo Fernández,7/1/2016,Spain,246608
179,2018,UAE,Real Madrid,Adrián de la Fuente,7/1/2018,Spain,245290
180,2018,UAE,Real Madrid,Diego Altube Suárez,7/1/2018,Spain,247411

### Create database connection

In [16]:
username = config.username
password = config.password
database = config.database

rds_connection_string = f"{username}:{password}@localhost:5432/{database}"
engine = create_engine(f'postgresql://{rds_connection_string}')
engine

Engine(postgresql://postgres:***@localhost:5432/etl)

### Load DataFrames into database

In [17]:
world_df_dup.to_sql(name='world_cup', con=engine, if_exists='replace', index=False
#                    dtype={"Year": Integer(),
#                        "Country": String(),
#                        "Country": String(),
#                        "Winner": String(),
#                        "Runners-Up": String(),
#                        "Third": String(),
#                        "Fourth": String(),
#                        "GoalsScored": Integer(),
#                        "QualifiedTeams": Integer(),
#                        "MatchesPlayed": Integer(),
#                        "Attendance": String()
                   )
#with engine.connect() as con:
#    con.execute('ALTER TABLE "world_cup" ADD PRIMARY KEY ("Year");')
world=pd.read_sql_query('select * from world_cup', con=engine).head()
world

,year,country,winner,runners_up,third,fourth,goals_scored,qualified_teams,matches_played,attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607

In [18]:
players_df.to_sql(name='players', con=engine, if_exists='replace', index=False)
players=pd.read_sql_query('select * from players', con=engine).head()
players

,long_name,club,joined,nationality,sofifa_id
0,Lionel Andrés Messi Cuccittini,FC Barcelona,7/1/2004,Argentina,158023
1,Cristiano Ronaldo dos Santos Aveiro,Juventus,7/10/2018,Portugal,20801
2,Neymar da Silva Santos Junior,Paris Saint-Germain,8/3/2017,Brazil,190871
3,Jan Oblak,Atlético Madrid,7/16/2014,Slovenia,200389
4,Eden Hazard,Real Madrid,7/1/2019,Belgium,183277

### Load DataFrames into CSV and Database

In [19]:
clubs_file = "Resources/clubs.csv"
# Outputting DataFrame to csv
with open(clubs_file, 'w') as csv_file:
    clubs_country.to_csv(csv_file, index=False)

In [20]:
clubs_country.to_sql(name='clubs_country', con=engine, if_exists='replace', index=False)
clubs_country=pd.read_sql_query('select * from clubs_country', con=engine).head()
clubs_country

   season    host                  club
0    2000  Brazil      Corinthians[n 2]
1    2001   Spain  Tournament cancelled
2    2005   Japan             São Paulo
3    2006   Japan         Internacional
4    2007   Japan                 Milan

### Analytics questions: What is the ratio of players nationality and the number of times those countries have hosted the World Cup?

In [21]:
analytics=pd.read_sql_query("""select *
                            from (
                                select b.nationality, count(b.sofifa_id) as no_of_players_from_country
                                from players as b
                                group by b.nationality
                                ) a
                            full outer join (
                                select distinct a."country", count(*) as no_times_host 
                                from world_cup as a
                                group by a."country"
                                ) b
                            on a.nationality = b."country"
                            order by no_times_host asc""", con=engine)

analytics.head(18)

       nationality  no_of_players_from_country         country  no_times_host
0          England                        1667         England            1.0
1           Sweden                         358          Sweden            1.0
2        Argentina                         886       Argentina            1.0
3            Japan                         453           Japan            1.0
4          Uruguay                         164         Uruguay            1.0
5            Chile                         370           Chile            1.0
6              USA                         347             USA            1.0
7   Korea Republic                         322  Korea Republic            1.0
8            Spain                        1035           Spain            1.0
9      Switzerland                         229     Switzerland            1.0
10    South Africa                          72    South Africa            1.0
11          Brazil                         824          Brazil            2.0
12          France                         984          France            2.0
13         Germany                        1216         Germany            2.0
14           Italy                         732           Italy            2.0
15          Mexico                         340          Mexico            2.0
16         Albania                          43            None            NaN
17           Wales                         117            None            NaN