### DEPENDENCIES

In [1]:
import pandas as pd
import requests
from sqlalchemy import create_engine
import config

### Extract CSVs into DataFrames

In [10]:
#https://www.kaggle.com/abecklas/fifa-world-cup/version/5#WorldCups.csv
#All the countries that have hosted the world cup from the first one until 2014
#world = "\\Users\dharti.patel\Documents\Repositories\ETL-project\Resources\WorldCups.csv"
world = "Resources/WorldCups.csv"
world_df = pd.read_csv(world)
#https://www.kaggle.com/stefanoleone992/fifa-20-complete-player-dataset#players_20.csv 
#"Every player available in FIFA 15, 16, 17, 18, 19, and also FIFA 20"
players = "Resources/players_20.csv"
players_df = pd.read_csv(players)

### Transform World Cup DataFrame

In [11]:
world_df[['Year','Country']]

    Year       Country
0   1930       Uruguay
1   1934         Italy
2   1938        France
3   1950        Brazil
4   1954   Switzerland
5   1958        Sweden
6   1962         Chile
7   1966       England
8   1970        Mexico
9   1974       Germany
10  1978     Argentina
11  1982         Spain
12  1986        Mexico
13  1990         Italy
14  1994           USA
15  1998        France
16  2002   Korea/Japan
17  2006       Germany
18  2010  South Africa
19  2014        Brazil

In [12]:
#Duplicating year 2002 when two countries hosted the World Cup
dup = world_df['Country'] == 'Korea/Japan'
dup_try = world_df[dup]
world_df_dup=world_df.append([dup_try]*1,ignore_index=True)
world_df_dup

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607
5,1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819.810
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893.172
7,1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1.563.135
8,1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1.603.975
9,1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1.865.753
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1.545.791
11,1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2.109.723
12,1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,2.394.031
13,1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,2.516.215
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3.587.538
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2.785.100
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2.705.197
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3.359.439
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3.178.856
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3.386.810
20,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2.705.197

In [13]:
#Segregating the year when Korea and Japan hosted the World Cup by renaming each row
world_df_dup.loc[16,'Country'] = 'Korea Republic'
world_df_dup.loc[20,'Country'] = 'Japan'
world_df_dup

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607
5,1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819.810
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893.172
7,1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1.563.135
8,1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1.603.975
9,1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1.865.753
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1.545.791
11,1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2.109.723
12,1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,2.394.031
13,1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,2.516.215
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3.587.538
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2.785.100
16,2002,Korea Republic,Brazil,Germany,Turkey,Korea Republic,161,32,64,2.705.197
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3.359.439
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3.178.856
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3.386.810
20,2002,Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2.705.197

In [14]:
#Checking the Country Names
world_df_dup['Country'].unique()

array(['Uruguay', 'Italy', 'France', 'Brazil', 'Switzerland', 'Sweden',
       'Chile', 'England', 'Mexico', 'Germany', 'Argentina', 'Spain',
       'USA', 'Korea Republic', 'South Africa', 'Japan'], dtype=object)

### Transform Players DataFrame

In [15]:
players_df.head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,6/24/1987,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,2/5/1985,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,2/5/1992,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1/7/1993,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1/7/1991,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3

In [16]:
# players_df[players_df['nationality'] == 'United States'].replace("USA")

In [17]:
players_df.loc[players_df.nationality == 'United States', 'nationality'] = "USA"
players_df['nationality'].unique()

array(['Argentina', 'Portugal', 'Brazil', 'Slovenia', 'Belgium',
       'Germany', 'Netherlands', 'Croatia', 'Egypt', 'France', 'Senegal',
       'England', 'Spain', 'Italy', 'Uruguay', 'Poland', 'Denmark',
       'Gabon', 'Korea Republic', 'Costa Rica', 'Slovakia',
       'Bosnia Herzegovina', 'Serbia', 'Scotland', 'Hungary',
       'Switzerland', 'Greece', 'Austria', 'Morocco', 'Sweden', 'Wales',
       'Colombia', 'Czech Republic', 'Chile', 'Algeria', 'Ivory Coast',
       'Togo', 'Norway', 'Mexico', 'Iceland', 'Finland', 'Jamaica',
       'Albania', 'Guinea', 'Cameroon', 'Ghana', 'Montenegro', 'Ukraine',
       'Russia', 'DR Congo', 'Central African Rep.', 'Venezuela',
       'Nigeria', 'Armenia', 'Israel', 'Ecuador', 'Paraguay', 'Australia',
       'Turkey', 'Romania', 'Japan', 'Mali', 'USA', 'Kosovo',
       'Dominican Republic', 'Tanzania', 'China PR', 'Northern Ireland',
       'Republic of Ireland', 'Tunisia', 'Cape Verde', 'FYR Macedonia',
       'Burkina Faso', 'Kenya', 'Angola', 'South Africa', 'Peru', 'Syria',
       'Gambia', 'New Zealand', 'Equatorial Guinea', 'Zimbabwe',
       'Georgia', 'Canada', 'Estonia', 'Benin', 'Bulgaria', 'Mozambique',
       'Honduras', 'Guinea Bissau', 'Iran', 'Philippines', 'Cyprus',
       'Madagascar', 'Uzbekistan', 'Moldova', 'Cuba', 'Sierra Leone',
       'Curacao', 'Zambia', 'Congo', 'Bolivia', 'Comoros', 'Iraq', 'Chad',
       'Lithuania', 'Saudi Arabia', 'Panama', 'Libya', 'Bahrain',
       'St Kitts Nevis', 'New Caledonia', 'Luxembourg',
       'Trinidad & Tobago', 'Thailand', 'United Arab Emirates', 'Eritrea',
       'Korea DPR', 'El Salvador', 'Azerbaijan', 'Latvia', 'Montserrat',
       'Puerto Rico', 'Bermuda', 'São Tomé & Príncipe',
       'Antigua & Barbuda', 'Burundi', 'Kazakhstan', 'Liberia', 'Guyana',
       'Haiti', 'Jordan', 'Faroe Islands', 'Mauritania', 'Namibia',
       'Rwanda', 'Uganda', 'Hong Kong', 'Chinese Taipei', 'Belize',
       'Palestine', 'Mauritius', 'Guam', 'Suriname', 'Lebanon',
       'Guatemala', 'Sudan', 'Liechtenstein', 'Grenada', 'St Lucia',
       'Afghanistan', 'Ethiopia', 'Barbados', 'India', 'Malta', 'Niger',
       'Vietnam', 'Malawi', 'Gibraltar', 'Macau', 'South Sudan',
       'Indonesia'], dtype=object)

### Create database connection

In [18]:
username = config.username
password = config.password
database = config.database

rds_connection_string = f"{username}:{password}@localhost:5432/{database}"
engine = create_engine(f'postgresql://{rds_connection_string}')
engine

Engine(postgresql://postgres:***@localhost:5432/etl)

### Load DataFrames into database

In [19]:
world_df_dup.to_sql(name='world_cup', con=engine, if_exists='replace', index=False)
world=pd.read_sql_query('select * from world_cup', con=engine).head()
world

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607

In [ ]:
players_df.to_sql(name='players', con=engine, if_exists='replace', index=False)
players=pd.read_sql_query('select * from players', con=engine).head()
players

### Analytics questions: What is the ratio of players nationality and the number of times those countries have hosted the World Cup?

In [ ]:
analytics=pd.read_sql_query("""select *
                            from (
                                select b.nationality, count(b.sofifa_id) as no_of_playersfromcountry
                                from players as b
                                group by b.nationality
                                ) a
                            full outer join (
                                select distinct a."Country", count(*) as no_times_host 
                                from world_cup as a
                                group by a."Country"
                                ) b
                            on a.nationality = b."Country"
                            order by no_times_host asc""", con=engine)

analytics.head(18)