### DEPENDENCIES

In [1]:
import pandas as pd
import requests
import json
import csv
import os
from sqlalchemy import create_engine
import config

### Extract CSVs into DataFrames

In [2]:
#https://www.kaggle.com/abecklas/fifa-world-cup/version/5#WorldCups.csv
#All the countries that have hosted the world cup from the first one until 2014
#world = "\\Users\dharti.patel\Documents\Repositories\ETL-project\Resources\WorldCups.csv"
world = "Resources/WorldCups.csv"
world_df = pd.read_csv(world)

In [40]:
#https://www.kaggle.com/stefanoleone992/fifa-20-complete-player-dataset#players_20.csv 
#"Every player available in FIFA 15, 16, 17, 18, 19, and also FIFA 20"
players = "Resources/players_20.csv"
players_df = pd.read_csv(players)

In [4]:
url = pd.read_html("https://en.wikipedia.org/wiki/FIFA_Club_World_Cup")

### Transform World Cup DataFrame

In [5]:
world_df[['Year','Country']]

    Year       Country
0   1930       Uruguay
1   1934         Italy
2   1938        France
3   1950        Brazil
4   1954   Switzerland
5   1958        Sweden
6   1962         Chile
7   1966       England
8   1970        Mexico
9   1974       Germany
10  1978     Argentina
11  1982         Spain
12  1986        Mexico
13  1990         Italy
14  1994           USA
15  1998        France
16  2002   Korea/Japan
17  2006       Germany
18  2010  South Africa
19  2014        Brazil

In [6]:
#Duplicating year 2002 when two countries hosted the World Cup
dup = world_df['Country'] == 'Korea/Japan'
dup_try = world_df[dup]
world_df_dup=world_df.append([dup_try]*1,ignore_index=True)
world_df_dup

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607
5,1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819.810
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893.172
7,1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1.563.135
8,1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1.603.975
9,1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1.865.753
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1.545.791
11,1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2.109.723
12,1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,2.394.031
13,1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,2.516.215
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3.587.538
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2.785.100
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2.705.197
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3.359.439
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3.178.856
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3.386.810
20,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2.705.197

In [7]:
#Segregating the year when Korea and Japan hosted the World Cup by renaming each row
world_df_dup.loc[16,'Country'] = 'Korea Republic'
world_df_dup.loc[20,'Country'] = 'Japan'
world_df_dup

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607
5,1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819.810
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893.172
7,1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1.563.135
8,1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1.603.975
9,1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1.865.753
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1.545.791
11,1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2.109.723
12,1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,2.394.031
13,1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,2.516.215
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3.587.538
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2.785.100
16,2002,Korea Republic,Brazil,Germany,Turkey,Korea Republic,161,32,64,2.705.197
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3.359.439
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3.178.856
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3.386.810
20,2002,Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2.705.197

In [8]:
#Checking the Country Names
world_df_dup['Country'].unique()

array(['Uruguay', 'Italy', 'France', 'Brazil', 'Switzerland', 'Sweden',
       'Chile', 'England', 'Mexico', 'Germany', 'Argentina', 'Spain',
       'USA', 'Korea Republic', 'South Africa', 'Japan'], dtype=object)

### Transform Players DataFrame

In [52]:
players_df.loc[players_df['nationality']=='USA',:]

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
583,227796,https://sofifa.com/player/227796/christian-pul...,C. Pulisic,Christian Pulisic,20,9/18/1998,177,69,USA,Chelsea,...,62+3,56+3,56+3,56+3,62+3,59+3,47+3,47+3,47+3,59+3
629,204082,https://sofifa.com/player/204082/john-brooks/2...,J. Brooks,John Anthony Brooks,26,1/28/1993,193,78,USA,VfL Wolfsburg,...,68+2,73+2,73+2,73+2,68+2,70+2,77+2,77+2,77+2,70+2
1264,232999,https://sofifa.com/player/232999/tyler-adams/2...,T. Adams,Tyler Adams,20,2/14/1999,176,68,USA,RB Leipzig,...,72+2,74+2,74+2,74+2,72+2,72+2,72+2,72+2,72+2,72+2
1267,238744,https://sofifa.com/player/238744/weston-mckenn...,W. McKennie,Weston McKennie,20,8/28/1998,185,84,USA,FC Schalke 04,...,73+2,75+2,75+2,75+2,73+2,73+2,77+2,77+2,77+2,73+2
1292,234777,https://sofifa.com/player/234777/zack-steffen/...,Z. Steffen,Zack Steffen,24,4/2/1995,191,86,USA,Fortuna Düsseldorf,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,242706,https://sofifa.com/player/242706/jacob-akanyir...,J. Akanyirige,Jacob Akanyirige,17,12/31/2001,180,73,USA,San Jose Earthquakes,...,46+2,44+2,44+2,44+2,46+2,48+2,49+2,49+2,49+2,48+2
17954,242907,https://sofifa.com/player/242907/bryan-reynold...,B. Reynolds,Bryan Reynolds,18,6/28/2001,191,77,USA,FC Dallas,...,33+2,35+2,35+2,35+2,33+2,33+2,35+2,35+2,35+2,33+2
18067,247038,https://sofifa.com/player/247038/justin-haak/2...,J. Haak,Justin Haak,17,9/12/2001,184,75,USA,New York City FC,...,47+2,49+2,49+2,49+2,47+2,47+2,50+2,50+2,50+2,47+2
18109,252416,https://sofifa.com/player/252416/don-deedson-l...,D. Louicius,Don Deedson Louicius,18,2/11/2001,180,65,USA,Hobro IK,...,37+2,33+2,33+2,33+2,37+2,35+2,29+2,29+2,29+2,35+2
18144,247593,https://sofifa.com/player/247593/jimmy-hague/2...,J. Hague,Jimmy Hague,22,8/26/1996,191,84,USA,FC Cincinnati,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
# players_df[players_df['nationality'] == 'United States'].replace("USA")

Empty DataFrame
Columns: [sofifa_id, player_url, short_name, long_name, age, dob, height_cm, weight_kg, nationality, club, overall, potential, value_eur, wage_eur, player_positions, preferred_foot, international_reputation, weak_foot, skill_moves, work_rate, body_type, real_face, release_clause_eur, player_tags, team_position, team_jersey_number, loaned_from, joined, contract_valid_until, nation_position, nation_jersey_number, pace, shooting, passing, dribbling, defending, physic, gk_diving, gk_handling, gk_kicking, gk_reflexes, gk_speed, gk_positioning, player_traits, attacking_crossing, attacking_finishing, attacking_heading_accuracy, attacking_short_passing, attacking_volleys, skill_dribbling, skill_curve, skill_fk_accuracy, skill_long_passing, skill_ball_control, movement_acceleration, movement_sprint_speed, movement_agility, movement_reactions, movement_balance, power_shot_power, power_jumping, power_stamina, power_strength, power_long_shots, mentality_aggression, mentality_interceptions, mentality_positioning, mentality_vision, mentality_penalties, mentality_composure, defending_marking, defending_standing_tackle, defending_sliding_tackle, goalkeeping_diving, goalkeeping_handling, goalkeeping_kicking, goalkeeping_positioning, goalkeeping_reflexes, ls, st, rs, lw, lf, cf, rf, rw, lam, cam, ram, lm, lcm, cm, rcm, rm, lwb, ldm, cdm, rdm, rwb, lb, ...]
Index: []

[0 rows x 104 columns]

In [53]:
players_df.loc[players_df.nationality == 'United States', 'nationality'] = "USA"
players_df['nationality'].unique()

array(['Argentina', 'Portugal', 'Brazil', 'Slovenia', 'Belgium',
       'Germany', 'Netherlands', 'Croatia', 'Egypt', 'France', 'Senegal',
       'England', 'Spain', 'Italy', 'Uruguay', 'Poland', 'Denmark',
       'Gabon', 'Korea Republic', 'Costa Rica', 'Slovakia',
       'Bosnia Herzegovina', 'Serbia', 'Scotland', 'Hungary',
       'Switzerland', 'Greece', 'Austria', 'Morocco', 'Sweden', 'Wales',
       'Colombia', 'Czech Republic', 'Chile', 'Algeria', 'Ivory Coast',
       'Togo', 'Norway', 'Mexico', 'Iceland', 'Finland', 'Jamaica',
       'Albania', 'Guinea', 'Cameroon', 'Ghana', 'Montenegro', 'Ukraine',
       'Russia', 'DR Congo', 'Central African Rep.', 'Venezuela',
       'Nigeria', 'Armenia', 'Israel', 'Ecuador', 'Paraguay', 'Australia',
       'Turkey', 'Romania', 'Japan', 'Mali', 'USA', 'Kosovo',
       'Dominican Republic', 'Tanzania', 'China PR', 'Northern Ireland',
       'Republic of Ireland', 'Tunisia', 'Cape Verde', 'FYR Macedonia',
       'Burkina Faso', 'Kenya', 'Angola', 'South Africa', 'Peru', 'Syria',
       'Gambia', 'New Zealand', 'Equatorial Guinea', 'Zimbabwe',
       'Georgia', 'Canada', 'Estonia', 'Benin', 'Bulgaria', 'Mozambique',
       'Honduras', 'Guinea Bissau', 'Iran', 'Philippines', 'Cyprus',
       'Madagascar', 'Uzbekistan', 'Moldova', 'Cuba', 'Sierra Leone',
       'Curacao', 'Zambia', 'Congo', 'Bolivia', 'Comoros', 'Iraq', 'Chad',
       'Lithuania', 'Saudi Arabia', 'Panama', 'Libya', 'Bahrain',
       'St Kitts Nevis', 'New Caledonia', 'Luxembourg',
       'Trinidad & Tobago', 'Thailand', 'United Arab Emirates', 'Eritrea',
       'Korea DPR', 'El Salvador', 'Azerbaijan', 'Latvia', 'Montserrat',
       'Puerto Rico', 'Bermuda', 'São Tomé & Príncipe',
       'Antigua & Barbuda', 'Burundi', 'Kazakhstan', 'Liberia', 'Guyana',
       'Haiti', 'Jordan', 'Faroe Islands', 'Mauritania', 'Namibia',
       'Rwanda', 'Uganda', 'Hong Kong', 'Chinese Taipei', 'Belize',
       'Palestine', 'Mauritius', 'Guam', 'Suriname', 'Lebanon',
       'Guatemala', 'Sudan', 'Liechtenstein', 'Grenada', 'St Lucia',
       'Afghanistan', 'Ethiopia', 'Barbados', 'India', 'Malta', 'Niger',
       'Vietnam', 'Malawi', 'Gibraltar', 'Macau', 'South Sudan',
       'Indonesia'], dtype=object)

In [54]:
# Selecting only the columns that I want
players_df = players_df[["long_name", "club", "joined","nationality","sofifa_id"]]
players_df

,long_name,club,joined,nationality,sofifa_id
0,Lionel Andrés Messi Cuccittini,FC Barcelona,7/1/2004,Argentina,158023
1,Cristiano Ronaldo dos Santos Aveiro,Juventus,7/10/2018,Portugal,20801
2,Neymar da Silva Santos Junior,Paris Saint-Germain,8/3/2017,Brazil,190871
3,Jan Oblak,Atlético Madrid,7/16/2014,Slovenia,200389
4,Eden Hazard,Real Madrid,7/1/2019,Belgium,183277
...,...,...,...,...,...
18273,邵帅,Beijing Renhe FC,7/13/2018,China PR,245006
18274,Mingjie Xiao,Shanghai SIPG FC,2/1/2019,China PR,250995
18275,张威,Hebei China Fortune FC,1/1/2019,China PR,252332
18276,汪海健,Shanghai Greenland Shenhua FC,2/1/2019,China PR,251110
18277,潘喜明,Hebei China Fortune FC,NaN,China PR,233449

### Transform Clubs DataFrame

In [55]:
clubs_country = url[3]
# clubs_country = pd.DataFrame(clubs_country) # Alap: This is not needed since read_html gives you DataFrame object.
clubs_country = clubs_country[["Season", "Hosts", "Champions"]]
clubs_country = clubs_country.rename(columns={"Champions" : "club"})
clubs_country

    Season    Hosts                  club
0     2000   Brazil      Corinthians[n 2]
1     2001    Spain  Tournament cancelled
2     2005    Japan             São Paulo
3     2006    Japan         Internacional
4     2007    Japan                 Milan
5     2008    Japan     Manchester United
6     2009      UAE        Barcelona[n 5]
7     2010      UAE        Internazionale
8     2011    Japan             Barcelona
9     2012    Japan           Corinthians
10    2013  Morocco         Bayern Munich
11    2014  Morocco           Real Madrid
12    2015    Japan             Barcelona
13    2016    Japan      Real Madrid[n 9]
14    2017      UAE           Real Madrid
15    2018      UAE           Real Madrid
16    2019    Qatar       Liverpool[n 11]
17    2020    Qatar                   NaN
18    2021    China                   NaN

In [56]:
# Creating a Roster of 2018 winning team and when the players join the team

# Merging DataFrames clubs_country and players_df
pyr_ctry_m = pd.merge(clubs_country, players_df, on="club")

# Filtering for 2018
pyr_ctry_m = pyr_ctry_m.loc[pyr_ctry_m["Season"] == 2018,:]

# Renaming long_name header to Roster
pyr_ctry_m = pyr_ctry_m.rename(columns={"long_name" : "Roster", "joined" : "Joined"})
pyr_ctry_m

,Season,Hosts,club,Roster,Joined,nationality,sofifa_id
148,2018,UAE,Real Madrid,Eden Hazard,7/1/2019,Belgium,183277
149,2018,UAE,Real Madrid,Luka Modrić,8/1/2012,Croatia,177003
150,2018,UAE,Real Madrid,Sergio Ramos García,8/1/2005,Spain,155862
151,2018,UAE,Real Madrid,Thibaut Courtois,8/9/2018,Belgium,192119
152,2018,UAE,Real Madrid,Toni Kroos,7/17/2014,Germany,182521
153,2018,UAE,Real Madrid,Carlos Henrique Venancio Casimiro,7/11/2013,Brazil,200145
154,2018,UAE,Real Madrid,Karim Benzema,7/9/2009,France,165153
155,2018,UAE,Real Madrid,Keylor Navas,8/3/2014,Costa Rica,193041
156,2018,UAE,Real Madrid,Francisco Román Alarcón Suárez,7/3/2013,Spain,197781
157,2018,UAE,Real Madrid,Raphaël Varane,7/1/2011,France,201535
158,2018,UAE,Real Madrid,Daniel Carvajal Ramos,7/5/2013,Spain,204963
159,2018,UAE,Real Madrid,Gareth Frank Bale,9/2/2013,Wales,173731
160,2018,UAE,Real Madrid,Marcelo Vieira da Silva Júnior,1/1/2007,Brazil,176676
161,2018,UAE,Real Madrid,James David Rodríguez Rubio,7/22/2014,Colombia,198710
162,2018,UAE,Real Madrid,Luka Jović,7/1/2019,Serbia,232432
163,2018,UAE,Real Madrid,Marco Asensio Willemsen,7/1/2015,Spain,220834
164,2018,UAE,Real Madrid,José Ignacio Fernández Iglesias,8/1/2010,Spain,200724
165,2018,UAE,Real Madrid,Éder Gabriel Militão,7/1/2019,Brazil,240130
166,2018,UAE,Real Madrid,Lucas Vázquez Iglesias,7/2/2015,Spain,208618
167,2018,UAE,Real Madrid,Ferland Mendy,7/1/2019,France,228618
168,2018,UAE,Real Madrid,Álvaro Odriozola Arzalluz,7/5/2018,Spain,234035
169,2018,UAE,Real Madrid,Vinícius José de Oliveira Júnior,7/12/2018,Brazil,238794
170,2018,UAE,Real Madrid,Mariano Díaz Mejía,8/29/2018,Dominican Republic,221639
171,2018,UAE,Real Madrid,Federico Valverde,7/22/2016,Uruguay,239053
172,2018,UAE,Real Madrid,Rodrygo Silva de Goes,7/1/2019,Brazil,243812
173,2018,UAE,Real Madrid,Lucas Silva Borges,1/26/2015,Brazil,209749
174,2018,UAE,Real Madrid,Brahim Díaz,1/6/2019,Spain,231410
175,2018,UAE,Real Madrid,久保 建英,7/1/2019,Japan,237681
176,2018,UAE,Real Madrid,Javier Hernández Carrera,7/1/2015,Spain,244523
177,2018,UAE,Real Madrid,Sergio López Galache,7/1/2018,Spain,245287
178,2018,UAE,Real Madrid,Álvaro Fidalgo Fernández,7/1/2016,Spain,246608
179,2018,UAE,Real Madrid,Adrián de la Fuente,7/1/2018,Spain,245290
180,2018,UAE,Real Madrid,Diego Altube Suárez,7/1/2018,Spain,247411

### Create database connection

In [57]:
username = config.username
password = config.password
database = config.database

rds_connection_string = f"{username}:{password}@localhost:5432/{database}"
engine = create_engine(f'postgresql://{rds_connection_string}')
engine

Engine(postgresql://postgres:***@localhost:5432/etl)

### Load DataFrames into database

In [58]:
world_df_dup.to_sql(name='world_cup', con=engine, if_exists='replace', index=False)
world=pd.read_sql_query('select * from world_cup', con=engine).head()
world

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607

In [59]:
players_df.to_sql(name='players', con=engine, if_exists='replace', index=False)
players=pd.read_sql_query('select * from players', con=engine).head()
players

,long_name,club,joined,nationality,sofifa_id
0,Lionel Andrés Messi Cuccittini,FC Barcelona,7/1/2004,Argentina,158023
1,Cristiano Ronaldo dos Santos Aveiro,Juventus,7/10/2018,Portugal,20801
2,Neymar da Silva Santos Junior,Paris Saint-Germain,8/3/2017,Brazil,190871
3,Jan Oblak,Atlético Madrid,7/16/2014,Slovenia,200389
4,Eden Hazard,Real Madrid,7/1/2019,Belgium,183277

### Analytics questions: What is the ratio of players nationality and the number of times those countries have hosted the World Cup?

In [60]:
analytics=pd.read_sql_query("""select *
                            from (
                                select b.nationality, count(b.sofifa_id) as no_of_playersfromcountry
                                from players as b
                                group by b.nationality
                                ) a
                            full outer join (
                                select distinct a."Country", count(*) as no_times_host 
                                from world_cup as a
                                group by a."Country"
                                ) b
                            on a.nationality = b."Country"
                            order by no_times_host asc""", con=engine)

analytics.head(18)

       nationality  no_of_playersfromcountry         Country  no_times_host
0          England                      1667         England            1.0
1           Sweden                       358          Sweden            1.0
2        Argentina                       886       Argentina            1.0
3            Japan                       453           Japan            1.0
4          Uruguay                       164         Uruguay            1.0
5            Chile                       370           Chile            1.0
6              USA                       347             USA            1.0
7   Korea Republic                       322  Korea Republic            1.0
8            Spain                      1035           Spain            1.0
9      Switzerland                       229     Switzerland            1.0
10    South Africa                        72    South Africa            1.0
11          Brazil                       824          Brazil            2.0
12          France                       984          France            2.0
13         Germany                      1216         Germany            2.0
14           Italy                       732           Italy            2.0
15          Mexico                       340          Mexico            2.0
16         Albania                        43            None            NaN
17           Wales                       117            None            NaN

### Load DataFrames into CSV

In [61]:
clubs_file = "Resources/clubs.csv"
# Outputting DataFrame to csv
with open(clubs_file, 'w') as csv_file:
    clubs_country.to_csv(csv_file, index=False)