In [2]:
import pandas as pd
import requests
import json
import csv
import os

from sqlalchemy import create_engine

# Output File (CSV)
output_data_file = "Resources/clubs.csv"

In [3]:
# Which country has the most wins? And creating dataframe with results
world = "Resources/WorldCups.csv"
world_df = pd.read_csv(world)
most_wins = world_df["Winner"].value_counts()
most_wins_df = pd.DataFrame(most_wins)

# Resetting index to keep value counts results as varables
# Renameing index column
most_wins_df = most_wins_df.reset_index()
most_wins_df.rename(columns={"index": "Country"})

      Country  Winner
0      Brazil       5
1       Italy       4
2  Germany FR       3
3     Uruguay       2
4   Argentina       2
5     Germany       1
6       Spain       1
7      France       1
8     England       1

In [8]:
url = pd.read_html("https://en.wikipedia.org/wiki/FIFA_Club_World_Cup")
clubs_country = url[3]
# clubs_country = pd.DataFrame(clubs_country) # Alap: This is not needed since read_html gives you DataFrame object.
clubs_country = clubs_country[["Season", "Hosts", "Champions"]]
clubs_country = clubs_country.rename(columns={"Champions" : "club"})
clubs_country

    Season    Hosts                  club
0     2000   Brazil      Corinthians[n 2]
1     2001    Spain  Tournament cancelled
2     2005    Japan             São Paulo
3     2006    Japan         Internacional
4     2007    Japan                 Milan
5     2008    Japan     Manchester United
6     2009      UAE        Barcelona[n 5]
7     2010      UAE        Internazionale
8     2011    Japan             Barcelona
9     2012    Japan           Corinthians
10    2013  Morocco         Bayern Munich
11    2014  Morocco           Real Madrid
12    2015    Japan             Barcelona
13    2016    Japan      Real Madrid[n 9]
14    2017      UAE           Real Madrid
15    2018      UAE           Real Madrid
16    2019    Qatar       Liverpool[n 11]
17    2020    Qatar                   NaN
18    2021    China                   NaN

In [4]:
# Outputting DataFrame to csv
with open(output_data_file, 'w') as csv_file:
    clubs_country.to_csv(csv_file, index=False)

In [5]:

x = most_wins_df.iloc[0,0]
x

'Brazil'

In [11]:
players = "Resources/players_20.csv"
players_df = pd.read_csv(players)
players_df[["long_name", "club"]]

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,6/24/1987,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,2/5/1985,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,2/5/1992,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1/7/1993,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1/7/1991,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18273,245006,https://sofifa.com/player/245006/shuai-shao/20...,Shao Shuai,邵帅,22,3/10/1997,186,79,China PR,Beijing Renhe FC,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
18274,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Xiao Mingjie,Mingjie Xiao,22,1/1/1997,177,66,China PR,Shanghai SIPG FC,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
18275,252332,https://sofifa.com/player/252332/wei-zhang/20/...,Zhang Wei,张威,19,5/16/2000,186,75,China PR,Hebei China Fortune FC,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18276,251110,https://sofifa.com/player/251110/haijian-wang/...,Wang Haijian,汪海健,18,8/2/2000,185,74,China PR,Shanghai Greenland Shenhua FC,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
18277,233449,https://sofifa.com/player/233449/ximing-pan/20...,Pan Ximing,潘喜明,26,1/11/1993,182,78,China PR,Hebei China Fortune FC,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2